/* reset 일부 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.vuecal--default-theme{
    --vuecal-primary-color: #ffe4e4 !important;
    --vuecal-secondary-color: #fff;
    --vuecal-base-color: #000;
    --vuecal-contrast-color: #fff;
    --vuecal-border-color: color-mix(in srgb, var(--vuecal-base-color) 8%, transparent);
    --vuecal-header-color: var(--vuecal-secondary-color);
    --vuecal-event-color: var(--vuecal-contrast-color);
    --vuecal-event-border-color: currentColor;
    --vuecal-border-radius: 6px;
    --vuecal-height:700px !important;
    --vuecal-min-schedule-width: 0;
    --vuecal-min-cell-width: 1em;
    position: relative;
    border-radius: var(--vuecal-border-radius);
    color: var(--vuecal-base-color);
    height: var(--vuecal-height);
}
html,
body {
  height: 100%;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.5;
  background-color: #fdeeee;
  color: #3d3d3d;
}

button {
  padding: 0.4rem 1rem;
  border: 1px solid #d26767;
  border-radius: 5px;
  color: #d26767;
  text-decoration: none;
  transition: background 0.2s;
  background-color: #ffffff;

  &:hover {
    background-color: #d26767;
    color: white;
  }
}

input,
textarea {
  padding: 4px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;

  &:focus {
    border-color: #d26767;
    outline: none;
  }
}
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
