.main-content {
  padding: 5rem 5rem;
  //   max-width: 1000px;
  margin: 0 auto;
  font-family: "Pretendard", sans-serif;
  background-color: #fdeeee;
  min-height: 100vh;

  h3 {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
  }

  .diet-record {
    margin-bottom: 2rem;

    .diet-box {
      height: 160px;
      background: white;
      border-radius: 12px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }
  }

  .community-columns {
    display: flex;
    gap: 1rem;

    .post-box {
      flex: 1;
      background: white;
      border-radius: 12px;
      padding: 1rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

      h4 {
        margin: 0.6rem 0;
      }

      ul {
        padding-left: 0;
        list-style: none;

        li {
          //   height: 1.2rem;
          background: #eee;
          margin: 0.4rem 0;
          border-radius: 4px;
          padding-left: 0.5rem;
        }
      }
    }
  }
}
