<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prj.m8eat.model.dao.DietDao">
	
	<!-- 식단 전체 조회 -->
	<select id="selectAllDiets" resultType="Diet">
		SELECT * 
		 FROM diets;
	</select>
	<select id="selectAllDietsFood" resultType="DietsFood">
		SELECT * 
		 FROM diets_food;
	</select>
	
	<!-- 유저별 식단 조회 -->
	<select id="selectDietsByUserNo" parameterType="int" resultType="Diet">
		SELECT * 
		 FROM diets
		 WHERE user_no=#{userNo}
	</select>
	<select id="selectDietsFoodByDietNo" parameterType="int" resultType="DietsFood">
		SELECT * 
		 FROM diets_food
		 WHERE diet_no=#{dietNo}
	</select>
	
	<!-- 날짜별 식단 조회 -->
	<select id="selectDietsByDate" parameterType="Map" resultType="Diet">
		SELECT * 
		 FROM diets
 		 WHERE reg_date BETWEEN #{startDate} AND #{endDate};
	</select>
	
	<!-- 식단 상세 조회 -->
	<select id="selectDietsByDietNo" parameterType="int" resultType="Diet">
		SELECT * 
		 FROM diets
		 WHERE diet_no=#{dietNo}
	</select>
	
	<!-- 식단 기록 -->
	<insert id="insertDiet" parameterType="Diet" keyProperty="dietNo" useGeneratedKeys="true">
		INSERT INTO diets (user_no, meal_type, file_path)
		 VALUES (#{userNo}, #{mealType}, #{filePath})
	</insert>
	
	<insert id="insertDietsFood" parameterType="DietsFood">
		INSERT INTO diets_food (diet_no, food_name, calorie)
		 VALUES (#{dietNo}, #{foodName}, #{calorie})
	</insert>
	
	<!-- 식단 삭제 -->
	<delete id="deleteDiet" parameterType="int">
		DELETE FROM diets
 		 WHERE diet_no=#{dietNo}
	</delete>
	
	<!-- 식단 수정 -->
	<delete id="deleteDietFood" parameterType="int">
		DELETE FROM diets_food
 		 WHERE diet_no=#{dietNo}
	</delete>
	<update id="updateDiet" >
		UPDATE diets
		 SET meal_type=#{mealType}, file_path=#{filePath}
		 WHERE diet_no = #{dietNo};
	</update>
	
	<!-- google api -->
	    <!-- 전체 음식 이름 목록 (유사도 비교용) -->
    <select id="getAllDietNames" resultType="String">
        SELECT name_ko FROM food
    </select>

    <!-- 이름으로 해당 음식 전체 정보 조회 -->
    <select id="getDietByName" parameterType="String" resultType="FoodInfo">
        SELECT * FROM food
        WHERE name_ko = #{name}
        LIMIT 1
    </select>


</mapper>