<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prj.m8eat.model.dao.FoodDao">
    <select id="selectAllFoods" resultType="Food">
        SELECT * FROM food;
    </select>
    
    <select id="selectFoodById" parameterType="int" resultType="com.prj.m8eat.model.dto.Food">
    SELECT * FROM food WHERE food_id = #{foodId}
	</select>
</mapper>